* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100%;
}

.workspace {
  width: 100%;
  display: flex;
}

.tab {
  flex: 1;
  border: 1px solid hotpink;
  padding: 2rem 0;
}